@font-face {
    font-family: MKX;
    src: url(mkx.ttf);
}
@font-face {
font-family: harabara;
src :url(Harabara.ttf);
}
header {
  font-family: arial;
	padding: 3%;
  background-color: black;
  border-bottom: thick solid limegreen;
  text-align: center;
	margin: -10px -10px 2% -10px;
}
.logo{
  background-image: url(htl.png);
  transition: 1s;
  padding-top: 4%;
  padding-bottom:  4%;
  width:35%;
  margin: auto;
  background-size: 100% 100%;
}
.logo:hover{
  background-image: url(htl3.png);
  transition: 1s;
}
header h1{
	margin: 0px;
}
body {
    	background-color: black;
      background-image: url(bg.jpg);
      background-size: 100% 100%;
      display: block;

}
#mainpanel {
	margin: 2.5% auto;
	width: 80%;
  padding-left: 1.5%;
  padding-right: 1.5%;
	border: thick solid limegreen;
	border-radius: 10px;
  background-color: black;
  
}
#mainpanel > div {
  opacity: 0.8;
}
h1 {
color: white;
text-align: center;
font-size: 500%;
font-family: MKX;
}
.coluna {
width: 20%;
margin: 0;
padding: 0;
border: 0;
float:left;
overflow: visible;
}
.linhas{
  overflow-y: hidden;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

.gridblock {
width: 70%;
transition: 1s;
background-color: black;
color: white;
margin: 15%;
border: solid limegreen;
border-radius: 20px;
}

.gridblock:hover {
width: auto;
height: auto;
margin: 5%;
border: 0;
}
.gridblock:hover .legenda p {
margin: 0;
padding: 0;
opacity: 0;
}

.gridblock:hover .foto {
  padding-top: 50%;
  padding-bottom: 50%;
  border: solid limegreen;
}
.foto {
  padding-top: 40%;
  padding-bottom: 40%;
  border-radius: 5%;
  background-size: 100% 100%;
}
.legenda{
  text-align: center;
  font-family: harabara;
  font-size: 150%;
}
