@font-face {
    font-family: MKX;
    src: url(fonts/mkx.ttf);
}
@font-face {
font-family: harabara;
src :url(fonts/Harabara.ttf);
}
@font-face {
font-family: o24d;
src :url(fonts/o24d.ttf);
}
@font-face {
font-family: bebas;
src :url(fonts/bebas.otf);
}


header {
	padding: 2.5%;
  background-color: black;
  border-bottom: thick solid limegreen;
  text-align: center;
	margin: -10px -10px 2% -10px;
}
div , div p  {
  transition: 1s;
  -webkit-transition: 1s;
}
h1 {
color: white;
text-align: center;
font-size: 275%;
font-weight: lighter;
font-family: bebas;
}

.logo{
  background-image: url(htl.png);
  padding-top: 5%;
  padding-bottom: 5%;
  width:32.5%;
  margin: auto;
  background-size: 100% 100%;
}
.logo:hover{
  background-image: url(htl3.png);
}
/*________________________________________________________________*/
/*________________________________________________________________*/
body {
    	background-color: black;
      background-image: url(bg.jpg);
      background-size: 100% 100%;
      background-attachment: fixed;
}
.mainpanel {
	margin: 2.5% auto;
	width: 80%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-bottom: 5%;
	border: thick solid limegreen;
	border-radius: 20px;
  background-color: black;
  opacity: 0.8;
}
.mainpanel  {
  opacity: 1.0;
}

.linhas{
  overflow-y: hidden;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  /*
  background-color: red;
  border: solid white;*/

}
.coluna {
width: 20%;
height: auto;
margin: auto;
padding: auto;
align-content: center;
border: 0;
float:left;
overflow: visible;
/*background-color: blue;*/
}

.gridblock {
width: 70%;
margin: 15%;
padding: auto;
background-color: black;
color: white;
border: solid limegreen;
border-radius: 20px;
opacity: 1.0;
overflow: hidden;
}

.gridblock:hover {
overflow: inherit;
border: 0;
}

.foto {
  padding-top: 40%;
  padding-bottom: 40%;
  border-radius: 5%;
  z-index: 99px;
  background-size: 100% 100%;
}

.gridblock:hover .foto {
  transform: scale(1.4,1.4);
  border: solid limegreen;
}

.legenda p{
  margin: 10%;
  text-align: center;
  font-size: 175%;
  font-family: o24d;
  z-index: -99;
}
.gridblock:hover .legenda p {
  transform: translate(0,-200%);
  opacity: 0;
}
