.container{
	width:92%;
	margin-left:4%;
	margin-right:4%;
	margin-top:0.5%;
	margin-bottom:0.5%;
	background-image:url(campo_futsal.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	border-radius:5px;
	overflow:auto;
	}

#reservas{
	background-image:none;
	background-color:#e1d1d5;
	}

.SupraTitulo{
	width:92%;
	border-radius:5px;
	background-color:#27E876;
	border:2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:46px;
	text-align:center;

	padding-top:0.5%;
	
	margin-left:4%;
	margin-right:4%;
	margin-top:0.5%;
	margin-bottom:0.5%;
	
	color:#333333;
	}

.FootBar{
	width:92%;
	border-radius:5px;
	background-color:#27E876;
	border:2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	text-align:left;
	color:#333333;
	
	margin-left:4%;
	margin-right:4%;
	margin-top:0.5%;
	margin-bottom:0.5%;
	
	padding-top:0.5%;
	padding-bottom:0.5%;
	}
	
.col_1{
	width:12.28571428571429%;
	}
.col_2{
	width:26.57142857142858%;
	}
.col_3{
	width:40.85714285714287%;
	}
.col_4{
	width:55.14285714285716%;
	}
.col_5{
	width:69.42857142857145%;
	}
.col_6{
	width:83.71428571428574%;
	}
.col_7{
	width:97.99999999999999%;
	}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7{	
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	
	background-color:none;
	
	float:left;
	text-align:justify;
	border-radius:5px;
	
	margin-left:0.3%;
	margin-right:0.3%;
	margin-top:0.5%;
	margin-bottom:0.5%;
	
	padding-left:0.7%;
	padding-right:0.7%;
	padding-top:0.5%;
	padding-bottom:0.5%;
	
	color:#333333;
	}	


.col_1_vazio{
	background-color:transparent;
	width:12.28571428571429%;
	}
.col_2_vazio{
	background-color: none;
	width:26.57142857142858%;
	}
.col_3_vazio{
	background-color: none;
	width:40.85714285714287%;
	}
.col_4_vazio{
	background-color: none;
	width:55.14285714285716%;
	}
.col_5_vazio{
	background-color: none;
	width:69.42857142857145%;
	}
.col_6_vazio{
	background-color: none;
	width:83.71428571428574%;
	}
.col_7_vazio{
	background-color: none;
	width:97.99999999999999%;
	}

.col_1_vazio,
.col_2_vazio,
.col_3_vazio,
.col_4_vazio,
.col_5_vazio,
.col_6_vazio,
.col_7_vazio{	
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;

	float:left;
	text-align:justify;
	border-radius:5px;
	
	height:180px;
	
	margin-left:0.3%;
	margin-right:0.3%;
	margin-top:0.5%;
	margin-bottom:0.5%;
	
	padding-left:0.7%;
	padding-right:0.7%;
	padding-top:0.5%;
	padding-bottom:0.5%;
	
	color:#333333;
	}

/*Definição das características do goleiro*/
#ariel{
	background-image:url(ariel.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	height:180px;

	border-radius:100%;
	
	text-align: center;
  	color: rgba(255,255,255,0);
	
	transition: 0.5s;
	}

#ariel:hover{
  background-image: url(ariel.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  height: 180px;

  border-radius:35%;
  
  color: rgba(255,255,255,1);
}

/*Definição das características do goleiro*/

/*Definição das características do goleiro*/
#violas{
	background-image:url(violas.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	height:180px;

	border-radius:100%;
	
	text-align: center;
  	color: rgba(255,255,255,0);
	
	transition: 0.5s;
	}

#violas:hover{
  background-image: url(violas.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  height: 180px;

  border-radius:35%;
  
  color: rgba(255,255,255,1);
}

/*Definição das características do goleiro*/

/*Definição das características do goleiro*/
#damacaco{
	background-image:url(damacaco.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	height:180px;

	border-radius:100%;
	
	text-align: center;
  	color: rgba(255,255,255,0);
	
	transition: 0.5s;
	}

#damacaco:hover{
  background-image: url(damacaco.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  height: 180px;

  border-radius:35%;
  
  color: rgba(255,255,255,1);
}

/*Definição das características do goleiro*/

/*Definição das características do goleiro*/
#martins{
	background-image:url(martins.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	height:180px;

	border-radius:100%;
	
	text-align: center;
  	color: rgba(255,255,255,0);
	
	transition: 0.5s;
	}

#martins:hover{
  background-image: url(martins.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  height: 180px;

  border-radius:35%;
  
  color: rgba(255,255,255,1);
}

/*Definição das características do goleiro*/

/*Definição das características do goleiro*/
#luiz{
	background-image:url(luiz.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	height:180px;

	border-radius:100%;
	
	text-align: center;
  	color: rgba(255,255,255,0);
	
	transition: 0.5s;
	}

#luiz:hover{
  background-image: url(luiz.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  height: 180px;

  border-radius:35%;
  
  color: rgba(255,255,255,1);
}

/*Definição das características do goleiro*/


/*Definição das características do goleiro*/
#alao{
	background-image:url(alao.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	height:180px;

	border-radius:100%;
	
	text-align: center;
  	color: rgba(255,255,255,0);
	
	transition: 0.5s;
	}

#alao:hover{
  background-image: url(alao.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  height: 180px;

  border-radius:35%;
  
  color: rgba(255,255,255,1);
}

/*Definição das características do goleiro*/

/*Definição das características do goleiro*/
#ping{
	background-image:url(ping.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	height:180px;

	border-radius:100%;
	
	text-align: center;
  	color: rgba(255,255,255,0);
	
	transition: 0.5s;
	}

#ping:hover{
  background-image: url(ping.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  height: 180px;

  border-radius:35%;
  
  color: rgba(255,255,255,1);
}

/*Definição das características do goleiro*/

/*Definição das características do goleiro*/
#luan{
	background-image:url(luan.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	height:180px;

	border-radius:100%;
	
	text-align: center;
  	color: rgba(255,255,255,0);
	
	transition: 0.5s;
	}

#luan:hover{
  background-image: url(luan.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  height: 180px;

  border-radius:35%;
  
  color: rgba(255,255,255,1);
}

/*Definição das características do goleiro*/

/*Definição das características do goleiro*/
#augusto{
	background-image:url(augusto.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	height:180px;

	border-radius:100%;
	
	text-align: center;
  	color: rgba(255,255,255,0);
	
	transition: 0.5s;
	}

#augusto:hover{
  background-image: url(augusto.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  height: 180px;

  border-radius:35%;
  
  color: rgba(255,255,255,1);
}

/*Definição das características do goleiro*/

/*Definição das características do goleiro*/
#jao{
	background-image:url(jao.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	height:180px;

	border-radius:100%;
	
	text-align: center;
  	color: rgba(255,255,255,0);
	
	transition: 0.5s;
	}

#jao:hover{
  background-image: url(jao.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  height: 180px;

  border-radius:35%;
  
  color: rgba(255,255,255,1);
}

/*Definição das características do goleiro*/

.legenda{
  	width: 100%;
  	height: 100%;

  	transition: 0.5s;

  	background-color: rgba(0,0,0,0);
  	border-radius:100%;
	}

.legenda:hover{
    background-color: rgba(0,0,0,0.8);
	border-radius:35%;
	}
